

.bigContainer{
    display: flex;
    flex-direction: column;
    background-color: #F2EEE3;
}

.container {
    display: flex;
    flex-direction:row;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    background-color: #FF8426;
    }

.links {
    list-style: none;
    width: 10%;
    text-decoration: none;
    margin: 2%;
    
}

a{
    font-family: 'Fredoka One', cursive;
    text-decoration: none;
    color: #F2EEE3;
}

.containerImg{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
}
.picture {
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: center;
    width: 30%;
    
}

img{
    border-radius: 50%;
    width: 70%;
    height: 70%;
    border: 30px solid #785E4D;
}

.containerBtn {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 3% 2% 1% 2%;
    width: 80%;
    margin-left:auto;
    margin-right: auto;
    background-color:#BAAF92;
    border-radius: 70% 70% 0% 0%;
    
}

button{
    font-family: 'Fredoka One', cursive;
    padding: 1%;
    border-radius: 40%;
    background: #FF8426;
    color: #F2EEE3;
    border: 0px;
}

.containerText {
    display: flex;
    flex-direction: row;
    background-color:#BAAF92;
    color:#785E4D;
    justify-content: space-around;
    border-radius: 5% 5% 0% 0%;
}

article{
    width: 30%;
    text-align: justify;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    background-color: #785E4D;
    padding: 3%;
    border-radius: 5%;
    margin: 2%;
    
}